@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Texts.Forms.Membership.ChangePassword.FormTitle.ToString(Localizer);
    ViewData["PageId"] = "ChangePassword";
}

<div id="ChangePasswordPanel" class="s-container-tight mt-5 s-Form flex-layout">
</div>

<script type="module" src=@Html.ResolveWithHash("~/esm/Modules/Membership/Account/ChangePassword/ChangePasswordPage.js")></script>