<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <handlers>
      <add name="BlockViewHandlerCS" path="*.cs" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <add name="BlockViewHandlerCSHTML" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <add name="BlockViewHandlerTT" path="*.tt" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <add name="BlockViewHandlerTTInclude" path="*.ttinclude" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>