@inject Serenity.ITextLocalizer Localizer

@{
    ViewData["Title"] = Localizer.Get("Db.Northwind.Territory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Northwind.TerritoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>