**/bin/Debug/*
**/bin/Release/*
obj/
packages/*/*
*.bak
*.orig
*.pdb
*.suo
*.DotSettings*
*.user
Thumbs.db
ErrorLog.db
StyleCop.Cache
TestResults/
Serene/Serene.Web/bin
Serene/Serene.Web/App_Data/
VSIX/packages/
Serene.Template.zip
Template/packages/
