**/bin/Debug/*
**/bin/Release/*
obj/
packages/
*.bak
*.orig
*.pdb
*.suo
*.DotSettings*
*.user
Thumbs.db
ErrorLog.db
StyleCop.Cache
TestResults/
Serene/Serene.Web/bin
Serene/Serene.Web/App_Data/
VSIX/packages/
Serene.Template.zip
Template/packages/
.vs/config/applicationhost.config
Template/UpgradeLog.htm
Serene/Serene.Web/.vs
Template/Serene.Template.log
.vs/restore.dg
project.lock.json
.vs/restore.dg
node_modules/
Serene/Serene.Test/Scripts/typings/serenity/Serenity.CoreLib.d.ts
Template/ProjectTemplates/SereneCore.Template.zip
Serene/Serene.Core/App_Data/
Serene/Serene.Core/wwwroot/App_Data/upload/
Serene/Serene.Core/wwwroot/Scripts/site/Serene.Web.js.map
Wizard/template/
Serene/Serene.Core/db/
Serene/Serene.Core/bin/
Serene/Serene.Core/Data/
Serene/Serene.Core/appsettings.*.machine.json
.syncache.sqlite
/Serene/Serene.Web/Scripts/site/Serene.Web.js.map
/.axoCover/
.vs/
/Serene/Serene.Core/wwwroot/Scripts/site/Serene.Web.d.ts
/Serene/Serene.Core/wwwroot/Scripts/site/Serene.Web.js
