**/bin/Debug/*
**/bin/Release/*
obj/
packages/
*.bak
*.orig
*.pdb
*.suo
*.DotSettings*
*.user
Thumbs.db
ErrorLog.db
StyleCop.Cache
TestResults/
Serene/Serene.Web/bin
Serene/Serene.Web/App_Data/
VSIX/packages/
Serene.Template.zip
Template/packages/
.vs/config/applicationhost.config
Template/UpgradeLog.htm
Serene/Serene.Web/.vs
Template/Serene.Template.log
.vs/restore.dg
project.lock.json
.vs/restore.dg
Serene/Serene.AspNetCore/wwwroot/App_Data/upload/
node_modules/
Serene/Serene.Test/Scripts/typings/serenity/Serenity.CoreLib.d.ts
