@{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
    ViewBag.Title = "Login";
    ViewBag.BodyClass = "login-page";
}

@section Head {
    <link rel="stylesheet" href="~/Scripts/iCheck/square/blue.css"/>
    <script src="~/Scripts/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/adminlte/demo.js"></script>
}

<div class="login-box">
    <div class="login-logo">
        <a href="~/AdminLTE/Examples/DashboardV2"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form action="~/" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>
        <!-- /.social-auth-links -->
        <a href="~/Account/ForgotPassword">I forgot my password</a><br>
        <a href="~/AdminLTE/Examples/Register" class="text-center">Register a new membership</a>
    </div>
    <!-- /.login-box-body -->
</div>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>