
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.Translation.EntityPlural");
}

@section Head {
@Html.Script("~/Scripts/vue.js")
}

<div id="PanelDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Administration.SergenPanel($('#PanelDiv'), {}).init();
    });
</script>