
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Organization.Contact.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Organization.ContactGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>