@{
    ViewBag.Title = "Responsive Dialog";
}

@section ContentHeader {
    <h1>@ViewBag.Title<small></small></h1>
}

<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>Here is a responsive version of Order Dialog. 
       This is enabled by adding [Responsive] attribute to dialog class.</p>
    <p>Flex box layout module is used for this feature. Requires IE11+ (limited support in IE10).
       See http://caniuse.com/#feat=flexbox for browser versions (about 95%)</p>
    <p>Warning: This is currently an experimental feature that is subject to change.</p>

    <p style="text-align: right;"><b>Source Files:</b> 
        @Html.AppSourceFile("Index.cshtml"), 
        @Html.AppSourceFile("ResponsiveDialog.ts")
        @Html.AppSourceFile("ResponsiveGrid.ts")
    </p>
</div>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.BasicSamples.ResponsiveGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>