@inject Serenity.ITextLocalizer Localizer

@{
    ViewData["Title"] = Localizer.Get("Db.Northwind.Supplier.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Northwind.SupplierGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>