@import (reference) "../bootstrap-less/mixins.less";
@import (reference) "../bootstrap-less/variables.less";

@import "../adminlte/core.less";
@import "../adminlte/variables.less";
@import "../adminlte/mixins.less";

@import "../adminlte/header.less";
@import "../adminlte/sidebar.less";
@import "../adminlte/sidebar-mini.less";
@import "../adminlte/control-sidebar.less";
@import "../adminlte/dropdown.less";
@import "../adminlte/forms.less";
@import "../adminlte/progress-bars.less";
@import "../adminlte/small-box.less";
@import "../adminlte/boxes.less";
@import "../adminlte/info-box.less";
@import "../adminlte/timeline.less";
@import "../adminlte/buttons.less";
@import "../adminlte/callout.less";
@import "../adminlte/alerts.less";
@import "../adminlte/navs.less";
@import "../adminlte/table.less";
@import "../adminlte/labels.less";
@import "../adminlte/modal.less";
@import "../adminlte/social-widgets.less";
@import "../adminlte/skins/_all-skins.less";

@import "../adminlte/mailbox.less";
@import "../adminlte/lockscreen.less";
@import "../adminlte/login_and_register.less";
@import "../adminlte/404_500_errors.less";
@import "../adminlte/invoice.less";
@import "../adminlte/profile.less";

@import "../adminlte/bootstrap-social.less";
@import "../adminlte/fullcalendar.less";
@import "../adminlte/select2.less";

@import "../adminlte/carousel.less";
@import "../adminlte/direct-chat.less";
@import "../adminlte/products.less";
@import "../adminlte/users-list.less";
@import "../adminlte/miscellaneous.less";
@import "../adminlte/print.less";

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #000;
}

.ui-front {
    z-index: 1100;
}

.slick-cell > a {
    color: #0000be;
}

.main-sidebar, .main-header {
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }
}

.sidebar-menu > li {
    font-size: 14px;
}

.sidebar-menu .treeview-menu > li > a {
    font-size: 13px;
}

.main-footer {
    padding: 3px 15px;
}

.sidebar-menu li.expanded > .treeview-menu {
    display: block;
}

.treeview-menu > li > a > i {
    width: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
textarea {
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.sidebar-form input[type="text"] {
    padding: 6px 12px;
    border-color: transparent;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}

section.content > .s-DataGrid {
    padding: 10px;
    border-radius: @box-border-radius;
    background: #fff;
    border-top: 3px solid @light-blue;
    box-shadow: @box-boxshadow;
}

.grid-toolbar {
    margin-bottom: 0px;
}

.s-Dialog .s-DataGrid.editor {
    border: 1px solid #eee;

    .grid-toolbar {
        background: #f8fafc;
        border-bottom: 1px solid #e7e7e7;
        padding: 5px 4px 5px 4px;
        min-height: 43px;
        margin-bottom: 0;
    }
}

.s-Dialog .tab-pane > .s-DataGrid {
    padding: 0px 8px 4px 8px;
}

.s-Dialog .grid-container {
}

.s-Dialog .tab-pane > .s-DialogToolbar {
    padding-top: 0;
    background-color: transparent;
    min-height: initial;
}

.page-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
    color: #0090d9;
    padding: 8px 8px;
    font-size: 15px;
    font-weight: 600;
}