.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
body {
  background-color: #fff;
}
#wrapper {
  background-color: #333;
}
#page-wrapper {
  background-color: #fff;
}
@media (min-width: 768px) {
  #page-wrapper {
    border-left-color: #e7e7e7;
  }
}
.navbar-static-top {
  background: #000;
  color: #fff;
}
.navbar-static-top .navbar-brand {
  color: #ddd;
}
.navbar-top-links a {
  color: #bbb;
}
.navbar-top-links a:hover,
.navbar-top-links a:active,
.nav .open > a {
  color: #444;
}
.sidebar {
  background: #333;
}
.sidebar-nav {
  border-bottom-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
  background-image: linear-gradient(to right, #333333 10px, #222222 10px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul a {
  color: #aaa;
  border-top-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active {
  color: #fff;
}
.sidebar-nav ul ul a {
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav ul li.selected > a {
  background-color: rgba(0, 144, 217, 0.8);
  color: #fff;
}
.sidebar-nav ul ul li.selected a {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
