@import "site.mixins.less";

.s-BasicSamples-ChartInDialog {
    svg {
        width: 100%;
        height: 90%;
    }

    .ui-dialog-content {
        overflow: hidden;
    }
    > .size { .widthAndMin(700px); .heightAndMin(400px); }
}