@{
    ViewBag.Title = "Custom Links In Grid";
}

@section ContentHeader {
    <h1>@ViewBag.Title<small></small></h1>
}

<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
        Some users asked how to perform custom actions on edit links. It is possible to
        intercept edit link clicks, just like we do here in Product Name column, by overriding
        EditItem method. 
    </p>
    <p>
        Another option is to write custom format function to generate &lt;A&gt; elements 
        and handle their clicks by overriding grid OnClick method. 
        We demonstrate both here. Try clicking links in all columns.
    </p>

    <p style="text-align: right;"><b>Source Files:</b> 
        @Html.AppSourceFile("Index.cshtml"), 
        @Html.AppSourceFile("CustomLinksInGrid.ts")
    </p>
</div>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.BasicSamples.CustomLinksInGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>