
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Meeting.MeetingAttendeeType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Meeting.MeetingAttendeeTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>