
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Meeting.MeetingAgendaType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Meeting.MeetingAgendaTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>