@inject Serenity.ITextLocalizer Localizer
@{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
    ViewData["Title"] = Texts.Forms.Membership.ForgotPassword.FormTitle.ToString(Localizer);
    ViewData["PageId"] = "ForgotPassword";
}

<div class="s-full-page justify-content-center">
    <div id="ForgotPasswordPanel" class="s-container-tight s-Form flex-layout">
    </div>
</div>

<script type="module" src=@Html.ResolveWithHash("~/esm/Modules/Membership/Account/ForgotPassword/ForgotPasswordPage.js")></script>