@inject Serenity.ITextLocalizer Localizer
@inject IDataMigrations DataMigrations
@inject Microsoft.Extensions.Options.IOptions<Serenity.Extensions.EnvironmentSettings> EnvironmentOptions
@{
    ViewData["Title"] = Texts.Forms.Membership.Login.LoginToYourAccount.ToString(Localizer);
    ViewData["PageId"] = "Login";
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<style>
    a { text-decoration: none; }
</style>

@if (DataMigrations.SkippedMigrations)
{
    <div class="alert alert-error alert-dismissible">
        <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> Warning!</h4>
        Serene skipped running migrations to avoid modifying an arbitrary database.
        If you'd like to run migrations on this database, remove the safety check
        in SiteInitialization.RunMigrations method.
    </div>
}

@if (ViewData["Activated"] != null)
{
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i>@Localizer.Get("Dialogs.InformationTitle")</h4>
        @Texts.Forms.Membership.SignUp.ActivationCompleteMessage.ToString(Localizer)
    </div>
}

<div class="s-full-page justify-content-center">
    <div id="LoginPanel" class="s-container-tight s-Form flex-layout">

    </div>
</div>

<script type="text/javascript">

jQuery(function() {
    var loginPanel = new Serene.Membership.LoginPanel($('#LoginPanel')).init();
    loginPanel.element.find('.forgot-password').appendTo('.field.Password');

    @if (EnvironmentOptions.Value.IsPublicDemo)
    {
        <text>
        loginPanel.byId('Username').val('admin').attr('placeholder', 'admin')
        loginPanel.byId('Password').val('serenity').attr('placeholder', 'serenity');
        </text>
    }

    @if (ViewData["Activated"] != null)
    {
        <text>
        $(function() {
            loginPanel.byId('Username').val(@Html.Raw(Serenity.JSON.Stringify(ViewData["Activated"])));
            loginPanel.byId('Password').focus();
        });
        </text>
    }

    });
</script>