
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Organization.BusinessUnit.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Organization.BusinessUnitGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>