
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Meeting.MeetingLocation.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.Meeting.MeetingLocationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>